{% load staticfiles %}
<html dir='rtl'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>كتابي</title>
  <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'css/bootstrap-rtl.min.css' %}" rel="stylesheet">
  <link href="{%static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="sr-only">قائمة منسدلة</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <a href="/" class="navbar-brand">كتابي</a>
        </div>
    </nav>
{% block content %}

{% endblock%}
    <script src="{%static 'js/jquery-2.1.4.min.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <footer>
      <a href="/">كتابي</a> &nbsp; | &nbsp; <a href="blog/">المدونة</a>
    </footer>
    </body>

    </html>
