{% load staticfiles %}
<html dir='rtl'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>كتابي</title>
  <link href="{%static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{%static 'css/bootstrap-rtl.min.css' %}" rel="stylesheet">
  <link href="{%static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
            <span class="sr-only">قائمة منسدلة</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
            <a href="/" class="navbar-brand">كتابي</a>
        </div>
        <div class="nav navbar-nav navbar-left">
          {{ user }}
      {% if user.is_anonymous %}
      <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
      {% else %}
      <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a>
      {% endif %}
        </div>
    </nav>

  <div class="container-fluid">
  <div class="well">
  <h3>مرحبًا بك في موقع كتابي</h3>
</div>
  إليك قائمة بالكتب المتوفّرة في الموقع:

  {% if books_list%}
    <ul>
      {% for book in books_list%}
        <li>

          <a href="/book/{{book.id}}/"><img src="{%static 'books_images/'%}{{book.cover}}"> {{book.title}}</a></li>
      {% endfor%}
    <ul>
      {% else %}
        <p>نأسف، لا توجد كتب في الوقت الحاضر</p>
      {%endif%}

    </div>
    <footer>
      <a href="/">كتابي</a> &nbsp; | &nbsp; <a href="blog/">المدونة</a>
    </footer>
      <script src="{%static 'js/bootstrap.min.js'%}"></script>
      <script src="{%static 'js/jquery-2.1.4.min.js' %}"></script>
</body>
</html>
